<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper">
		{{ partial "head.html" . }}

		{{ with .Content }}{{ . }}{{ end }}

<div>
  <h4>Hi, I'm Andrea, Research Scientist and UX enthusiast.<br>
  Have a look around and feel free ask me more at <a href="mailto:scalco.andrea@outlook.com">scalco.andrea@outlook.com</a>.</h4>
</div>
		<div class="recent-posts section">
			<h2 class="section-header">
				Projects
			</h2>
			<div class="posts">
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}
				<div class="post">
					<div class="meta">{{ if .Params.showthedate }}{{ dateFormat "Jan 2, 2006" .Date }}{{end}}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</div>
					<a class="title" href="{{ .RelPermalink }}">{{.Title}}</a> &mdash;
					<span class="description">
						{{ if isset .Params "description" }}
						{{ .Description }}
						{{ else }}
						{{ .Summary }}&hellip;
						{{ end }}
					</span>
				</div>
				{{ end }}
				{{ template "partials/paginator.html" . }}
			</div>
		</div>

	</div>
	{{ partial "footer.html" . }}
</body>
</html>
